<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container-fluid">

<div class="row">
    <nav class="navbar navbar-light bg-light col-12 text-align" >
        <a class="navbar-brand" href="#">
          <img src="/images/train.png" width="20" height="20" alt="">
          <h5>Ticketac</h5>
        </a>
        <div class="end">
            <p>Connection</p>
            <p>My last trips</p>
        </div>
      </nav>
     
</div>

</div>

<!--sing-in  -->
    <div class="col-12 col-sm-6 text-center"></div>

        <div class="formArea">

          <h4 class="titleForm">Sign In</h4>

          <form action="/users/sign-in" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="emailFromFront" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="passwordFromFront" type="password" class="form-control" placeholder="Enter password">
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
          </form>

        </div>
















    </div>
 
    














</body>
</html>