<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trajets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <nav class="navbar navbar-light bg-light col-12 text-align" >
                <a class="navbar-brand" href="#">
                  <img src="/images/train.png" width="20" height="20" alt="">
                  <h5>Ticketac</h5>
                </a>
                <div class="end">
                    <p>Connection</p>
                    <p>My last trips</p>
            </div>
              </nav>
        </div>
    </div>
    <h5 class="light">My tickets : </h5>
    <div class="container-fluid">
        <div class="pad">
    <table class="table table-borderless">
        <thead>
            <tr class="table-light">
            <th scope="col">N°</th>
            <th scope="col">Journey</th>
            <th scope="col">Date</th>
            <th scope="col">Departure time</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-light">
            <th scope="row">1</th>
            <td>Paris/Lile</td>
            <td>02/06/2019</td>
            <td>15:00pm</td>
            <td>234</td>
          </tr>
          <tr class="table-light">
            <th scope="row">2</th>
            <td>Paris/Lile</td>
            <td>02/06/2019</td>
            <td>15:00pm</td>
            <td>125</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td>200</td>
          </tr>
          <tr class="table-borderless">
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-danger">confirm</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
        




    
</body>
</html>