body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3498db;
}

a {
  color: #00B7FF;
}

.end {
  display: flex;
  align-items: flex-end;
        }

.row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar-brand{
    display: flex;
}
